services:
  db:
    image: postgres:18
    container_name: auction_db
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: auctiondb
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d auctiondb']
      interval: 5s
      timeout: 3s
      retries: 10
volumes:
  pgdata:
